
body { background-color: rgb(200, 182, 226);
}
 h1{
   color:  rgb(55, 75, 114);}
 h3{
    color:  rgb(55, 75, 114);}

   hr {
       BORDER-color: rgb(122, 134, 182);
       border-style: none;
       border-top-style: dotted;
       border-width: 5PX;
       width: 5%;
   }